include README.md
include LICENSE
include cyborgai_colab_xterm/VERSION
recursive-include cyborgai_colab_xterm/client/dist *
prune cyborgai_colab_xterm/client/node_modules
prune cyborgai_colab_xterm/client/src